# HW0 week3 (adult data)

In [5]:
import pandas as pd
data = pd.read_csv('adult.data.csv',header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Q1

In [14]:
data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation','relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [15]:
sex_counts = data['sex'].value_counts()
sex_counts

 Male      21790
 Female    10771
Name: sex, dtype: int64

Q2

In [18]:
data['sex'][0]

' Male'

In [19]:
data['sex'][4]

' Female'

In [20]:
avg_age_women = data.loc[data['sex'] == ' Female', 'age'].mean()
avg_age_women

36.85823043357163

Q3

In [24]:
data['native-country'][0]

' United-States'

In [25]:
german_citizens_count = len(data.loc[data['native-country'] == ' Germany'])
total_count = len(data)
percentage_german_citizens = (german_citizens_count / total_count) * 100
percentage_german_citizens

0.42074874850281013

Q4-5

In [26]:
rich_mean, rich_std = data.loc[data['income'] == ' >50K', 'age'].mean(), data.loc[data['income'] == ' >50K', 'age'].std()
poor_mean, poor_std = data.loc[data['income'] == ' <=50K', 'age'].mean(), data.loc[data['income'] == ' <=50K', 'age'].std()
print("Age statistics for those who earn more than 50K per year:")
print("Mean age: {:.2f} years".format(rich_mean))
print("Standard deviation of age: {:.2f} years".format(rich_std))
print("\nAge statistics for those who earn less than or equal to 50K per year:")
print("Mean age: {:.2f} years".format(poor_mean))
print("Standard deviation of age: {:.2f} years".format(poor_std))

Age statistics for those who earn more than 50K per year:
Mean age: 44.25 years
Standard deviation of age: 10.52 years

Age statistics for those who earn less than or equal to 50K per year:
Mean age: 36.78 years
Standard deviation of age: 14.02 years

Q6

In [27]:
high_income_education_counts = data.loc[data['income'] == ' >50K', 'education'].value_counts()
high_income_education_counts

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name: education, dtype: int64

Q7