In [1]:
import pandas as pd
df = pd.read_csv('特教服務獲獎名單.csv')
df.head()

     年度  編號    獲獎學校 所在縣市
0  111年   1  中國科技大學   臺北
1  111年   2    逢甲大學   臺中
2  111年   3  朝陽科技大學   臺中
3  111年   4  輔英科技大學   高雄
4  111年   5  環球科技大學   雲林

In [2]:
temp = df[['獲獎學校' , '所在縣市']]
temp

     獲獎學校 所在縣市
0  中國科技大學   臺北
1    逢甲大學   臺中
2  朝陽科技大學   臺中
3  輔英科技大學   高雄
4  環球科技大學   雲林

In [18]:
Type = temp.groupby(['獲獎學校'])['所在縣市'].sum().reset_index()

In [20]:
Type['年度'] = 109
Type

     獲獎學校 所在縣市   年度
0  中國科技大學   臺北  109
1  朝陽科技大學   臺中  109
2  環球科技大學   雲林  109
3  輔英科技大學   高雄  109
4    逢甲大學   臺中  109

In [16]:
new = df[['獲獎學校', '所在縣市']].groupby(['獲獎學校'])['所在縣市'].sum().reset_index()

In [22]:
new['年度'] = 110

In [23]:
new

     獲獎學校 所在縣市   年度
0  中國科技大學   臺北  110
1  朝陽科技大學   臺中  110
2  環球科技大學   雲林  110
3  輔英科技大學   高雄  110
4    逢甲大學   臺中  110