In [8]:
import pandas as pd
df = pd.read_csv('補助捐款.csv')
df.head()

,執行日期,科目名稱,摘要,受款單位,金額
0,112/01/09,國民及學前教育行政及督導,大額通報教補1月11日-非營利幼兒園111學年度學費差額補助第1期款,臺北市政府教育局,"316,295,952"
1,112/01/10,國民及學前教育行政及督導,112年度補助各地方政府置輔諮中心計畫經費,臺中市政府教育局,"997,101"
2,112/01/10,國民及學前教育行政及督導,112年度補助置專輔人員計畫經費,高雄市政府教育局,"29,172,000"
3,112/01/10,國民及學前教育行政及督導,112年度補助置專輔人員計畫經費,臺中市政府教育局,"28,841,000"
4,111/12/26,國民及學前教育行政及督導,111學年度下學期中央課程與教學輔導諮詢教師團隊代理代課費暨課程與教學補助經費第2期款,桃園市政府,"1,019,320"

In [12]:
temp = df[['科目名稱' , '受款單位']]
temp

                 科目名稱            受款單位
0        國民及學前教育行政及督導        臺北市政府教育局
1        國民及學前教育行政及督導        臺中市政府教育局
2        國民及學前教育行政及督導        高雄市政府教育局
3        國民及學前教育行政及督導        臺中市政府教育局
4        國民及學前教育行政及督導           桃園市政府
...               ...             ...
1095  國立高級中等學校教學與訓輔輔助  國立臺東大學附屬體育高級中學
1096  國立高級中等學校教學與訓輔輔助      國立台東女子高級中學
1097  國立高級中等學校教學與訓輔輔助    國立台東高級商業職業學校
1098  國立高級中等學校教學與訓輔輔助    國立關山高級工商職業學校
1099  國立高級中等學校教學與訓輔輔助    國立成功商業水產職業學校

[1100 rows x 2 columns]

In [14]:
Type = temp.groupby(['科目名稱'])['受款單位'].sum().reset_index()

In [15]:
Type['執行日期'] = 112
Type

              科目名稱                                               受款單位  執行日期
0     國民及學前教育行政及督導  臺北市政府教育局臺中市政府教育局高雄市政府教育局臺中市政府教育局桃園市政府臺北市政府教育局臺...   112
1  國立高級中等學校教學與訓輔輔助  國立嘉義高級中學國立東石高級中學國立新港藝術高級中學國立嘉義女子高級中學國立嘉義高級工業職業...   112