In [23]:
import pandas as pd
df = pd.read_csv('特教經費2015.csv')
df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10440-01-02-2,臺中市特殊教育學校教育經費概況(預、決算數),1044001a017,特殊教育學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,488231,NaN,387040000E,教育局,2016/12/16 上午 09:39:40,NaN
1,10440-01-02-2,臺中市特殊教育學校教育經費概況(預、決算數),1044001a017,特殊教育學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,0,NaN,387040000E,教育局,2016/12/16 上午 09:39:40,NaN
2,10440-01-02-2,臺中市特殊教育學校教育經費概況(預、決算數),1044001a017,特殊教育學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,2300100002,...,0,NaN,0,NaN,65936,NaN,387040000E,教育局,2016/12/16 上午 09:39:40,NaN
3,10440-01-02-2,臺中市特殊教育學校教育經費概況(預、決算數),1044001a018,特殊教育學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,481303,NaN,387040000E,教育局,2016/12/16 上午 09:39:40,NaN
4,10440-01-02-2,臺中市特殊教育學校教育經費概況(預、決算數),1044001a018,特殊教育學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,0,NaN,387040000E,教育局,2016/12/16 上午 09:39:40,NaN

In [24]:
temp = df[['Complex2Name', 'FValue']]
temp

   Complex2Name  FValue
0           NaN  488231
1           NaN       0
2           NaN   65936
3          經常支出  481303
4          經常支出       0
5          經常支出   57360
6          資本支出   29063
7          資本支出       0
8          資本支出    1076
9          償還借款       0
10         償還借款       0
11         償還借款       0
12     經常支出報廢金額       0
13     經常支出報廢金額       0
14     經常支出報廢金額    1000
15     折舊、折耗及攤銷   62880
16     折舊、折耗及攤銷       0
17     折舊、折耗及攤銷       0
18          NaN  498796
19          NaN       0
20          NaN  166155
21         經常支出  445445
22         經常支出       0
23         經常支出   71184
24         資本支出   18682
25         資本支出       0
26         資本支出    9507
27         償還借款       0
28         償還借款       0
29         償還借款       0
30     經常支出報廢金額       0
31     經常支出報廢金額       0
32     經常支出報廢金額    1038
33     折舊、折耗及攤銷   74784
34     折舊、折耗及攤銷       0
35     折舊、折耗及攤銷       0

In [25]:
Type = temp.groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [27]:
Type['年度'] =2015
Type

  Complex2Name   FValue    年度
0         償還借款        0  2015
1     折舊、折耗及攤銷   137664  2015
2         經常支出  1055292  2015
3     經常支出報廢金額     2038  2015
4         資本支出    58328  2015

In [28]:
特教2016 = pd.read_csv('特教經費2016.csv')
特教2017 = pd.read_csv('特教經費2017.csv')
特教2018 = pd.read_csv('特教經費2018.csv')

In [34]:
new2016 = 特教2016[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [35]:
new2016['年度'] = 2016

In [37]:
new2016

  Complex2Name   FValue    年度
0         償還借款        0  2016
1     折舊、折耗及攤銷   129804  2016
2         經常支出  1083520  2016
3     經常支出報廢金額        0  2016
4         資本支出    76403  2016

In [38]:
new2017 = 特教2017[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [39]:
new2017['年度'] = 2017

In [40]:
new2017

  Complex2Name  FValue    年度
0         償還借款       0  2017
1     折舊、折耗及攤銷       0  2017
2         經常支出  922385  2017
3     經常支出報廢金額    1536  2017
4         資本支出   48153  2017

In [41]:
new2018 = 特教2018[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [42]:
new2018['年度'] = 2018

In [43]:
new2018

  Complex2Name  FValue    年度
0         償還借款       0  2018
1     折舊、折耗及攤銷   33163  2018
2         經常支出  929681  2018
3     經常支出報廢金額    6829  2018
4         資本支出   33090  2018

In [48]:
frames = [Type, new2016,new2017,new2018]

result = pd.concat(frames)

In [49]:
result

  Complex2Name   FValue    年度
0         償還借款        0  2015
1     折舊、折耗及攤銷   137664  2015
2         經常支出  1055292  2015
3     經常支出報廢金額     2038  2015
4         資本支出    58328  2015
0         償還借款        0  2016
1     折舊、折耗及攤銷   129804  2016
2         經常支出  1083520  2016
3     經常支出報廢金額        0  2016
4         資本支出    76403  2016
0         償還借款        0  2017
1     折舊、折耗及攤銷        0  2017
2         經常支出   922385  2017
3     經常支出報廢金額     1536  2017
4         資本支出    48153  2017
0         償還借款        0  2018
1     折舊、折耗及攤銷    33163  2018
2         經常支出   929681  2018
3     經常支出報廢金額     6829  2018
4         資本支出    33090  2018